<div class="footer">
    <div class="footer-main">
        <div class="logo-container">
          <img class= "logo-step" src="../../assets/logo-step-white.png" alt="logo-step"> 
          <div class="icons">
            <a href="#"><img class="logos" src="./../../assets/twitter-logo.svg" alt="twitter"></a>
            <a href="#"><img class="logos" src="./../../assets/linkedin-icon-2048x1960-vqvqmi6j.png" alt="linkedin"></a>
            <a href="#"><img class="logos" src="./../../assets/logo-facebook-icon.png" alt="facebook"></a>
            <a href="#"><img class="logos" src="./../../assets/logo-instagram.png" alt="instagram"></a>
          </div> 
        </div>
        <div class="exercia-container">
            <div class="exercia">
                <h3>Exercia</h3>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="exercia">
                <h3>Exercia</h3>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="exercia">
                <h3>Exercia</h3>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="exercia">
                <h3>Exercia</h3>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <p>Copyright STEP 2021</p>
    </div>
</div>