@import "@coreui/coreui/scss/coreui";
@import '../../vars';

  .container {
    display: flex;
    position: relative;
  }
  
  .carousel-container {
    z-index: 1;
    width: 65vw;
    height: 40vh;
    position: relative;
  }
  
  .presentation-container {
    width: 25vw;
    height: 50vh;
    padding: 4rem;
    background-color: rgba(255, 94, 26, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    z-index: 2;
    position: absolute;
  }

  .picto img {
    width: 17rem;
    height: 17rem;
    position: absolute;
    bottom: -5.8rem;
    right: 0;
  }
  
  
  img {
    height: 50vh;
    width: 100%;
  }
  
  button {
    background-color: $secondary-color;
    border: solid 1px white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    width: 10rem;
  }

  button:hover{
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 10px 10px 0px 0px rgb(82, 82, 82);
    transform: translate(-5px, -5px);
    transition: 600ms;
  }

  h2{
    font-size: 2.4rem;
  }

  p{
    line-height: 1.5rem;
    font-weight: 200;
  }

  